*, html {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#container-main {
    width: 100%;
    height: 100%;
}

#appcanvas {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#140D3D, #140D3D, #140D3D, #0E1D56, #0E1D56);

}

.preloader-back{
    display: flex;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F1F1F1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
}

.preloader{
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.preloader img{
    display: block;
    margin: auto;
    width: 100%;
}

.progress{
    display: block;
    position: absolute;
    width: 50%;
    height: 0.25rem;
    right: 25%;
    bottom: 15%;
    background-color: #FFF;
}

.progress-bar{
    display: block;
    height: 100%;
    width: 1%;
    background-color: #FFD821;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #6B2E85; 
}
   
::-webkit-scrollbar-thumb {
    background: #FFDE54; 
}
  
